/* dark-calendar.css */
/* Настройки цвета фона и текста */
.rbc-calendar {
    background-color: #222; /* Цвет фона */
    color: #fff; /* Цвет текста */
}

/* Настройки цвета событий */
.rbc-event {
    background-color: #007ACC; /* Цвет фона события */
    color: #fff; /* Цвет текста события */
}

/* Другие стили вашей темной темы */
/* Настройки цвета фона и текста */
.rbc-calendar {
    background-color: #f7f7f7; /* Цвет фона */
    color: #333; /* Цвет текста */
}

/* Настройки цвета событий */
.rbc-event {
    background-color: #007ACC; /* Цвет фона события */
    color: #fff; /* Цвет текста события */
}

/* Настройки заголовка месяца */
.rbc-month-header {
    background-color: #007ACC; /* Цвет фона заголовка месяца */
    color: #fff; /* Цвет текста заголовка месяца */
}

/* Настройки ячеек дней */
.rbc-day-bg {
    background-color: #fff; /* Цвет фона ячейки дня */
}

/* Настройки кнопок "Сегодня" и "Следующий месяц" */
.rbc-btn {
    background-color: #007ACC; /* Цвет фона кнопок */
    color: #fff; /* Цвет текста кнопок */
}

/* Настройки кнопок "Сегодня" и "Следующий месяц" при наведении */
.rbc-btn:hover {
    background-color: #005e94; /* Цвет фона кнопок при наведении */
}

/* Настройки фона текущей даты */
.rbc-today {
    background-color: #24debd; /* Цвет фона текущей даты */
}

